body {
  width: 500px;
  margin: 10px;
  /*margin: 20px auto;*/
  position: relative;
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.add-header {
  margin: 10px 0 15px 0;
  padding-top: 5px;
}

.button-add {
  position: absolute;
  top: 0;
  right: 0;
}
.button-add:hover {
  background-color: rgb(79, 182, 77);
}

.button {
  background-color: rgb(100, 215, 97);
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px rgb(80, 80, 80);
  outline: none;
  border: none;
  transition: 0.3s;
  font-weight: bold;
  color: #222222;
}

.button-delete {
  background-color: rgb(249, 83, 83);
  margin-left: 20px;
}

.button:active {
  box-shadow: none;
}

.confirm-delete {
  text-align: center;
  padding-bottom: 10px;
}

.add-area {
  transition: 0.5s;
  display: none;
}

.active {
  display: block;
}

.add-input {
  padding: 5px 10px;
  margin: 5px 0;
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 3px 0px rgb(80, 80, 80);
}

.empty {
  animation: empty 3s infinite;
}

.bookmarks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bookmarks li {
  box-shadow: none;
  position: relative;
}

.bookmarks a {
  text-decoration: none;
  color: #363636;
  font-size: 20px;
  display: inline-block;
  width: 350px;
  padding: 10px 10px;
}

.edit, .delete {
  transition: 0.2s;
  transform: scale(0);
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 5px;
  background: url("img/edit.svg") 3px 3px no-repeat;
}

.delete {
    background: url("img/delete.svg") 3px 3px no-repeat;
    margin-right: 5px;
}

.bookmarks li:hover .edit,
.bookmarks li:hover .delete {
  transform: scale(1);
}

.bookmarks li:hover {
  box-shadow: 1px 1px 3px 0px rgb(80, 80, 80);
}

.delete.active {
  border-radius: 50%;
  background-color: rgb(249, 83, 83);
}

.edit.active {
  border-radius: 50%;
  background-color: rgb(100, 215, 97);
}

.input-edit {
  width: 96%;
  margin: 0 10px 10px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.confirm-delete span {
  font-size: 18px;
}

.episode {
  position: absolute;
  display: inline-block;
  right: 0;
  padding: 5px;
  font-size: 26px;
  transition: .1s;
  cursor: default;
  user-select: none;
}

.episode .prev-episode,
.episode .next-episode {
  display: inline-block;
  transition: .2s .1s;
  transform: scale(0);
  cursor: pointer;
  padding: 0 3px;
}

.prev-episode:hover,
.next-episode:hover {
  color: #a1a1a1;
}

.bookmarks li .episode:hover .prev-episode,
.bookmarks li .episode:hover .next-episode {
  transform: scale(1);
}

.bookmarks li:hover .episode {
  right: 60px;
}

.add-first-serial {
  font-size: 18px;
}
.add-first-serial.hide {
  display: none;
}

@keyframes empty {
  from {
    box-shadow: 1px 1px 3px 0px rgb(80, 80, 80);
  }
  50% {
    box-shadow: 1px 1px 3px 0px rgb(200, 0, 0);
  }
  to {
    box-shadow: 1px 1px 3px 0px rgb(80, 80, 80);
  }
}
